<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="~{he_fo_us::head}"></head>
    <div th:insert="~{he_fo_us::header}"></div>

    <body>

        <div class="container mt-5 my-5 flex-grow-1">
            <div class="row">
                <div class="col-12 text-center">
                    <h1>Productos Disponibles</h1>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-3" th:each="product : ${products}">
                    <a th:href="@{/product/{id}(id=${product.id})}" class="no-underline">
                        <div class="card mb-3">
                            <div class="image1-container">
                                <img th:src="@{/images/{image}(image=${product.image})}" class="card-img-top" alt="Imagen del producto"
                                     th:if="${product.image != null}"/>
                                <img src="/images/default.png" class="card-img-top" alt="Imagen del producto" th:if="${product.image == null}"/>
                            </div>
                            <div class="card-body">
                                <p class="card-title"><strong>[[${product.name}]]</strong></p>
                                <p class="card-text">S/ [[${product.price}]]</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </body>
    <div class="text-black py-4 mt-auto" th:insert="~{he_fo_us::footer}"></div>
</html>

